a.button.home {
    background-color: white; /* Цвет фона */
    color: #4C3F3F; /* Цвет текста */
}

body.homepage {
    background: linear-gradient(to bottom, #E0EAE6, #798F86); /* Замените цвета по вашему выбору */
}
