h1 {
    font-family: Gardens CM;
    color: #4C3F3F;
    font-size: 32px;
    text-align: center;
}

h2 {
    font-family: Gardens CM;
    color: #4C3F3F;
    font-size: 24px;
}

a.button {
    font-family: Gardens CM;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
    font-size: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    transition: background-image 0.1s ease;
}

span {
    font-family: Gardens CM;
    color: #4C3F3F;
}

a.button.home {
    background-color: white;
    color: #4C3F3F;
    width: 285px;
}

body.homepage {
    background: linear-gradient(to bottom, #E0EAE6, #798F86);
}

.proposal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    flex-direction: column;
    margin: auto;
}
