

h1 {
    font-family: Gardens CM;
    color: #4C3F3F;
    font-size: 2em;
    text-align: center;
    width: 340px;
}

h2 {
    font-family: Gardens CM;
    color: #4C3F3F;
    font-size: 1.5em;
    font-weight: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    transition: background-image 0.1s ease;
}

span {
    font-family: Gardens CM;
    color: #4C3F3F;
    font-size: 14px;
    margin-right: 152px;
    margin-left: 152px;
}

body.homepage {
    background: linear-gradient(to bottom, #E0EAE6, #798F86);
}

/* Buttons */

a.button {
    font-family: Gardens CM;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
    font-size: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

a.button.home {
    background-color: white;
    color: #4C3F3F;
    width: 285px;
}

a.button.entry {
    width: 250px;
}

/* Containers */

.proposal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    flex-direction: column;
    margin: auto;
}

.entry_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.scale_container {
    font-size: 14px;
    color: #4C3F3F;
    font-family: Gardens CM;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.sign_container {
    flex-direction: row;
}


/* Scale */

input[type="range"] {
    /* Удаление стандартного стиля ползунка */
    -webkit-appearance: none; /* Для WebKit/Blink */
    -moz-apperance: none; /* Для Firefox */
    appearance: none;
    width: 461px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 45px;
    outline: none;
}


input[type="range"]::-webkit-slider-thumb {
    /* Кастомный стиль ползунка для WebKit/Blink */
    -webkit-appearance: none;
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    /* Кастомный стиль ползунка для Firefox */
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

/* Стиль заполненной части ползунка */
input[type="range"]::-webkit-slider-runnable-track {
    /* Стиль заполненной части ползунка для WebKit/Blink */
    background: #ffffff00;
}

input[type="range"]::-moz-range-track {
    /* Стиль заполненной части ползунка для Firefox */
    background: #dddddd00;
}

/* Форма для заметки */

input[type="text"] {
    border: none;
    font-family: Gardens CM;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    width: 580px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #4C3F3F;
}

/* Buttons for choose */

.emotion-selector {
    display: flex;
    gap: 10px;
}
.emotions_container {
    width: 600px;
    /* height: 184px; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
}
/* 
.emotion-wrapper {
    display: flex;
    align-items: center;
} */

.emotion-button {
    font-size: 24px;
    font-family: Gardens CM;
    color: #4C3F3F;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 12px 20px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.emotion-checkbox {
    display: none;
}

.emotion-checkbox:checked + .emotion-button {
    background-color: #ffffff;
}

input[type="checkbox"] {
    display: none;
}

label {
    font-size: 24px;
    font-family: Gardens CM;
    color: #4C3F3F;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 12px 20px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"]:checked + label {
    background-color: #ffffff;
}

.reason_container {
    width: 640px;
    /* height: 184px; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    margin-bottom: 20px;
}